.feedbackBox {
    position: fixed;
    display: none;
    width: 50%;
    height: 30%;
    top: 35%;
    left: 25%;
    right: auto;
    bottom: auto;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    padding-left: 10%;
    padding-top: 1%;
    padding-right: 10%;
    padding-bottom: 1%;
    overflow-x: hidden;
    overflow-y: visible;
}
.feddBtn{
  color: gray;
  font-weight: bold;
  padding: 0.3em;
}

.feedBtn, .feddbackBox, .feed{
      box-shadow: 0px 0px 10px white;
      border: none;
}
.feed{
  color: gray;
}
