#footer{
  background: lightgray;
  width: 100%;
  overflow-y: visible;
}
#footer-icon-bar {
    width: 60%;
    overflow: visible;
    float: left;
}
#social-icon-bar{
  font-size: 1.5em;
  letter-spacing: 7px;
  padding: 75px 45px 0 0;
  text-align: right;
  float: left;
  width: 40%;
  text-shadow: 0px 0px 10px white;
}
#footer-icon-bar a {
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: all 0.3s ease;
    color: #373737;
    font-size: 0.75em !important;
    text-shadow: 0px 0px 2px white;
}
#footer-icon-bar td{
  width: 25%;
  padding-top: 2%;
  padding-left: 5%;
}

.active {
    background-color: #4CAF50 !important;
}

#footer p{
  clear: both;
  text-align: center;
  padding: 7px;
  width: 100%;
  font-size: 0.6em;
  color: #555;;
  text-shadow: 0px 0px 5px white;
}
.social-icons td{
  font-size: 2em;
  width: 15%;
}
